<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.charmingcolor.shuttersoundzero.debug.UpdateFlowTestActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="업데이트 흐름 테스트"
            android:theme="@style/Theme.ShutterSoundZero">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
